name: Test bed

on:
  push:
    branches: [ master ]
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request:
    branches: [ master, develop ]
  workflow_dispatch:
    inputs:
      actions_run_id:
        description: 'The Github Actions run ID in which we will find the artifacts'
        required: true
        default: '247094624'
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      # fail-fast: Default is true, switch to false to allow one platform to fail and still run others
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]
    steps:
    - uses: actions/checkout@v2

    #- name: Dump GitHub context
      #env:
        #GITHUB_CONTEXT: ${{ toJson(github) }}
      #run: echo "$GITHUB_CONTEXT"
    #- name: Dump job context
      #env:
        #JOB_CONTEXT: ${{ toJson(job) }}
      #run: echo "$JOB_CONTEXT"
    #- name: Dump steps context
      #env:
        #STEPS_CONTEXT: ${{ toJson(steps) }}
      #run: echo "$STEPS_CONTEXT"
    #- name: Dump runner context
      #env:
        #RUNNER_CONTEXT: ${{ toJson(runner) }}
      #run: echo "$RUNNER_CONTEXT"
    #- name: Dump strategy context
      #env:
        #STRATEGY_CONTEXT: ${{ toJson(strategy) }}
      #run: echo "$STRATEGY_CONTEXT"
    #- name: Dump matrix context
      #env:
        #MATRIX_CONTEXT: ${{ toJson(matrix) }}
      #run: echo "$MATRIX_CONTEXT"

    - name: Call my own action
      uses: ./.github/actions/build_context@${{ github.sha }}
      with:
        who-to-greet: 'Mona the Octocat'

    - run: echo random-number ${{ steps.foo.outputs.random-number }}
      shell: bash

    - name: ls
      run: |
        ls *.json
